
.chip {
    padding: 8px;
    border: 1px solid gray;
    margin: 8px;
    border-radius: 25%;
    cursor: pointer;
  }
  
  .bg-red {
    background-color: red;
  }
  
  .bg-green {
    background-color: green;
  }
  .change-color-btn{
    margin-top: 20px;
    background-color:black;
    color: hwb(199 89% 2%);
    border-radius: 25%;
    margin-left: 6cm;
  }

  .btn-change-color{
    margin-top: 20px;
    background-color:black;
    color: hwb(199 89% 2%);
    border-radius: 25%;
    margin-left: 6cm;
  }
  .btn-delete{
    margin-top: 20px;
    background-color:black;
    color: hwb(199 89% 2%);
    border-radius: 25%;
    /* margin-left: 6cm; */
  }