 .main-container {
     background-color: #238424;
     height: 80vh;
     width: 40%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     margin-left: 380px;
     border-radius: 100px;
     border: 5px solid #000;
 }

 .goal {
     height: 15%;
     width: 15%;
     background-color: rgb(171, 188, 208);
     top: 20%;
     position: absolute;
     top: 0%;
     left: 50%;
     margin-top: 20px;
     margin-left: -140px;

 }

 .football {
     background-color: whitesmoke;
     height: 10%;
     width: 10%;
     margin-top: 400px;
     border-radius: 50px;
     border-radius: 50%;
     transition: 0.7s ease-in-out;
    margin-right: 130px;
 }

 .kick {
     margin-top: 20px;
     margin-left: 600px;

 }

 .try-again {
     margin-top: -65px;
     margin-left: 670px;
 }

 .score{
    font: 3em sans-serif;
    text-align: left;
    font-weight: bold;
    font-variant: small;
 } 
 